.message_section{
    height: 250px;
    overflow:scroll;
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
}

.message_section > h1,
.day-forecast {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.each_message1 {
    background: left/contain content-box border-box no-repeat
        url('./images/teacher.png') white;
    margin-bottom: 1rem;
}

.each_message2 {
    background: left/contain content-box border-box no-repeat
        url('./images/avatar.png') white;
    margin-bottom: 1rem;
}


.each_message2 > p,
.each_message1 > h2,
.each_message1 > p {
    margin: .2rem;
    font-size: 1rem;
    padding-left: 4rem;
}
